body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto-Thin, Roboto-Black, sans-serif;
}

@font-face {
    font-family: Roboto-Black;
    src: url(fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(fonts/Roboto-Thin.ttf);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: #e5e7eb;
}

a:visited {
    text-decoration: none;
    color: #e5e7eb;
}


.header-wrapper {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e5e7eb;
    padding-top: 16px;
}

.content {
    width: 800px;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    font-family: Roboto-Black;
    font-size: 24px;
    color: #f9faf8;
}

.nav {
    display: flex;
    gap: 16px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

.hero-main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: 200px;
    padding-right: 20px;
}

h1.hero-main {
    font-size: 48px;
    font-family: Roboto-Black;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

p.hero-main {
    padding-bottom: 10px;
}

img.hero {
    width: 400px;
    height: 200px;
}

button {
    border-radius: 8px;
    padding: 4px 24px;
    font-family: Roboto-Black;
    border: none;
}

button.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.card-title {
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    padding-top: 32px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 32px;
}

.card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border-radius: 8px;
    border: 2px solid #3882f6;
    height: 100px;
    width: 100px;
}

.card-info {
    text-align: center;
    width: 100px;
}

.quote-wrapper {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.quote {
    color: #1f2937;
    font-style: italic;
    font-size: 32px;
}

.signature {
    color: #1f2937;
    font-family: Roboto-Black;
    display: flex;
    justify-content: flex-end;
}